* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* .add-cart {
  width: 893px;
  height: 70px;
  margin: 0 auto;
} */

.product {
  border: 4px solid #000;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  position: relative;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #e8e8e8;
  color: rgb(0, 0, 0);
  padding: 15px;
}

.product-title::before {
  position: absolute;
  content: "SALE";
  top: -20px;
  left: -40px;
  padding: 5px 20px;
  background-color: red;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}
/* Product Information */

.price-tag {
  font-size: 24px;
}

.shipping-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: #000;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* SHOE COLOR BOXES */
.color {
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.color-black {
  background-color: #000;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: rgb(255, 0, 0);
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

/* PRODUCT DETAILS */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */

.add-cart {
  background-color: #000;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid #000;
}

.add-cart:hover {
  background-color: white;
  color: black;
}
